.idea
*.pyc
nrm_app/.idea
nrm_app/*.pyc
nrm_app/__pycache__
nrm_app/.venv_inz
nrm_app/.env
nrm_app/logs
nrm_app/migrations

agent_app/.idea
agent_app/*.pyc
agent_app/.venv_agent
agent_app/server_setup/my.txt
agent_app/__pycache__
agent_app/.pytest_cache
test_samby
