{% extends "main/base.html" %}

{% block title %}NRM- choose option{% endblock %}


{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/choose_option.css') }}">
{% endblock %}


{% block page_content %}
<body>
<div class="container border-highlight">
    <div class="row">
        <h1 style="margin-top: 10%; margin-right: 3%"> Wybierz opcję </h1>
    </div>
    <div class="row" style="height: 100vh;">
        <div class="col-xs-6 col-md-12" style=" display: table; height: 40%">
            <div style="display: table-cell; vertical-align: middle">
                <a href="{{ url_for('main.add_user') }}" class="btn btn-primary btn-lg">Dodaj studenta</a>
            </div>
            <div style="display: table-cell; vertical-align: middle">
                <a href="{{ url_for('main.add_teacher') }}" class="btn btn-primary btn-lg">Dodaj wykładowcę</a>
            </div>
        </div>
    </div>
</div>
</body>


{% endblock %}